---
title: H.B.D. Salah
description: open me plz
image: /b02b9d894b641738fa898d8abeee4bc3_7966102716863153249.png
bottom_image: /maxresdefault.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">
				Make a new friend today
			</h1>
			<p class="subtext editable">
				I can't believe you are a year old🥺.<br />You completed another year of your life that was good☹🖤.<br />I just want to say that I really love you and wish you the best times, the best news, and the happiest moments💛.<br />Happy birthday my little bear🥺💛.<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;scroll down~
			</p>
			<div class="cta button alt"><a href="#">Join Now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					Well,
				</h2>
				<p class="editable">
					Enjoy your life and do not care about what others say.<br />This is your birthday so enjoy it💛.
				</p>
			</div>
			<div class="image">
				<img class="editable" alt="Screenshot" src="http://placehold.it/650x1300" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					luv u<em><strong></strong></em>
				</h2>
				<p class="editable">
					Little Bear,<br />I know that my gift is small for you, but as you know, my exams do not end😢💔.<br />So, accept this small gift from me🥺👉👈.<br />Click on the three lines on the top on the right💛.
				</p>
			</div>
			<div class="image">
				<img class="editable" alt="Screenshot" src="http://placehold.it/650x1300" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">
					In the end,
				</h2>
				<p class="editable">
					And I want to say that you are a wonderful part of my life.<br />Without you, I wouldn't know anyone.<br />You are the reason why everything wonderful happened after I got to know you.<br />Thank you💛.
				</p>
			</div>
			<div class="image">
				<img class="editable" alt="Screenshot" src="http://placehold.it/650x1300" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">
					So?
				</h2>
				<p class="subtext editable">
					H.B.D. my little bear💛.<br />luv u sweetheart💛.
				</p>
				<div class="cta button alt"><a href="#">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
